@{
    ViewData["Title"] = "Home Page";
}

<style>
    .card {
        border: none !important;
    }
</style>


<div class="row justify-content-center">
    <div class="col col-md-5">
        <div class="card">
            <a asp-controller="Home" class="navbar-brand" asp-action="Index" title="clicca per tornare alla home..">
                <img src="~/images/logo.jpeg" class="img-fluid d-block mx-auto" style="max-height:400px; max-width:400px;" />
            </a>
        </div>
    </div>
</div>
