@{
    ViewData["Title"] = "Home Page";
}

<style>
    .card {
        border: none !important;
    }
</style>


<div class="row justify-content-center mt-5 mb-5">
    <div class="col col-md-4">
        <div class="text-center mt-5 mb-5">
            <img src="~/images/logo.png" class="img-fluid d-block mx-auto" style="max-height:200px; max-width:200px;" />
            <br />
            <span class="text-secondary text-uppercase mt-5" style="font-size:30px;font-weight:100">Tech Spare Parts</span>
        </div>
    </div>
</div>

<div class="row mt-5 justify-content-center mb-5">
    <div class="col-sm-4 border-right text-center p-3" style="height:300px">
        <label class="h3">
            <i class="fas fa-users"></i>
            <br />Chi siamo
        </label>
        <label>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
        </label>
    </div>
    <div class="col-sm-4 border-right text-center p-3" style="height:300px">
        <label class="h3">
            <i class="fas fa-map-marked-alt"></i>
            <br />Contatti
        </label>
        <label>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
        </label>
        <div class="embed-responsive embed-responsive-16by9">
            <iframe class="embed-responsive-item" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d11355.305566212592!2d11.332738481236467!3d44.64146513317608!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x477fcc17fd9c5b9d%3A0xf3d04112dfa46370!2s40050+Argelato+BO!5e0!3m2!1sit!2sit!4v1559058349251!5m2!1sit!2sit" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
        </div>
    </div>
    <div class="col-sm-4 text-center p-3" style="height:300px">
        <label class="h3">
            <i class="fas fa-briefcase"></i>
            <br />Cosa facciamo
        </label>
        <label>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
        </label>

        <a class="btn btn-outline-dark mt-5" asp-controller="Prodotto" asp-action="IndexCliente">Vai al catalogo online</a>
    </div>
</div>
