@model NbaEcommerce.Models.Prodotto

@{
    ViewData["Title"] = "Modifica prodotto";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row mt-2">
    <div class="col-6">
        <h2>@ViewData["Title"]</h2>
    </div>
</div>

<hr />

<div class="row justify-content-center">
    <div class="col-xs-12 col-sm-8 col-md-6">
        <div class="card border-left-primary shadow h-100">
            <div class="card-body">
                <form asp-action="Edit">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <input type="hidden" asp-for="Id" />
                    <div class="form-group">
                        <label asp-for="Descrizione" class="control-label"></label>
                        <input asp-for="Descrizione" class="form-control" />
                        <span asp-validation-for="Descrizione" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Titolo" class="control-label"></label>
                        <input asp-for="Titolo" class="form-control" />
                        <span asp-validation-for="Titolo" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="IdMarchio" class="control-label"></label>
                        <select asp-for="IdMarchio" class="form-control" asp-items="ViewBag.IdMarchio"></select>
                        <span asp-validation-for="IdMarchio" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="IdDispositivo" class="control-label"></label>
                        <select asp-for="IdDispositivo" class="form-control" asp-items="ViewBag.IdDispositivo"></select>
                        <span asp-validation-for="IdDispositivo" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="IdCategoria" class="control-label"></label>
                        <select asp-for="IdCategoria" class="form-control" asp-items="ViewBag.IdCategoria"></select>
                        <span asp-validation-for="IdCategoria" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="PrezzoVendita" class="control-label"></label>
                        <input asp-for="PrezzoVendita" class="form-control" />
                        <span asp-validation-for="PrezzoVendita" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="PrezzoAcquisto" class="control-label"></label>
                        <input asp-for="PrezzoAcquisto" class="form-control" />
                        <span asp-validation-for="PrezzoAcquisto" class="text-danger"></span>
                    </div>

                    <div class="form-group">
                        <label asp-for="Quantità" class="control-label"></label>
                        <input asp-for="Quantità" class="form-control" />
                        <span asp-validation-for="Quantità" class="text-danger"></span>
                    </div>

                    <div class="form-group">
                        <label class="control-label">Immagini</label>
                        <p>Seleziona le immagini del prodotto:</p>
                        <input type="file" name="immagini" multiple />
                    </div>

                    <div class="form-group">
                        <div class="checkbox">
                            <label>
                                <input asp-for="Attivo" /> @Html.DisplayNameFor(model => model.Attivo)
                            </label>
                        </div>
                    </div>
                    
                    <div class="form-group">
                        <div class="row">
                            <div class="col-8">
                                <input type="submit" value="Salva" class="btn btn-outline-primary btn-block" />
                            </div>
                            <div class="col-4">
                                <a asp-action="Index" class="btn btn-outline-danger btn-block ">Annulla</a>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
