@model IEnumerable<NbaEcommerce.ViewModels.ViewProdottoViewModel>

@{
    ViewData["Title"] = "Index";
}

<div class="row mt-2">
    <div class="col-6">
        <h2><strong>Catalogo</strong></h2>
    </div>
</div>

<hr />

<div class="row">
    <div class="col-3">
        <h5><small class="text-muted">Filtra per</small></h5>

        <form action="/" method="post">
            <div class="form-group ml-3">
                @foreach (NbaEcommerce.Models.Marchio marchio in ViewBag.marchi)
                {
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" id="gridCheck">
                        <label class="form-check-label" for="gridCheck">
                            @marchio.Descrizione
                        </label>
                    </div>
                }
            </div>
        </form>
    </div>

    <div class="col-9">

        @foreach (NbaEcommerce.ViewModels.ViewProdottoViewModel prodotto in Model)
        {
            <div class="col-sm-4 col-md-3">
                <div class="card ml-2" style="height:300px;">
                    <img src="..." class="card-img-top" alt="...">
                    <div class="card-body text-center">
                        <h5 class="card-title">@prodotto.Descrizione</h5>

                        <a asp-action="Details" asp-route-id="@prodotto.Id" title="Dettaglio" class="btn btn-sm btn-outline-primary">Maggiori informazioni</a>
                    </div>
                </div>
            </div>
        }
    </div>
</div>




