@page
@model ForgotPasswordConfirmation
@{
    ViewData["Title"] = "";
    Layout = "_LayoutRegister";

}

<div class="row justify-content-center">
    <div class="col-md-4">
        <h2>
            Per favore, controlla la tua mail per ripristinare la password.
        </h2>
    </div>
</div>

