@page
@model RegisterModel
@{
    ViewData["Title"] = "Modulo di Registrazione";
    Layout = "_LayoutRegister";
}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<div class="row">
    <div class=" col-sm-10 col-md-10 mx-auto mb-3">
        <h2 style="text-align:center">@ViewData["Title"]</h2>
        <hr />
        <h6 class="alert alert-danger" style="text-align:center">Esclusivamente per Centri Assistenza e Dealer telefonia.</h6>
        <hr />
        <div class="card border-left-primary shadow h-100">
            <div class="card-body">
                <form asp-route-returnUrl="@Model.ReturnUrl" method="post">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="form-row justify-content-center">
                        <div class="col-md-6 mb-4">
                            <label asp-for="Input.NomeAzienda"></label>
                            <input asp-for="Input.NomeAzienda" class="form-control" />
                            <span asp-validation-for="Input.NomeAzienda" class="text-danger"></span>
                        </div>
                        <div class="col-md-6 mb-4">
                            <label asp-for="Input.PersonaRiferimento"></label>
                            <input asp-for="Input.PersonaRiferimento" class="form-control" />
                            <span asp-validation-for="Input.PersonaRiferimento" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="form-row justify-content-center">
                        <div class="col-md-6 mb-4">
                            <label asp-for="Input.Telefono"></label>
                            <input asp-for="Input.Telefono" class="form-control" />
                            <span asp-validation-for="Input.Telefono" class="text-danger"></span>
                        </div>
                        <div class="col-md-6 mb-4">
                            <label asp-for="Input.Cellulare"></label>
                            <input asp-for="Input.Cellulare" class="form-control" />
                            <span asp-validation-for="Input.Cellulare" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="form-row justify-content-center">
                        <div class="col-md-6 mb-4">
                            <label asp-for="Input.CodiceFiscale"></label>
                            <input asp-for="Input.CodiceFiscale" class="form-control" />
                            <span asp-validation-for="Input.CodiceFiscale" class="text-danger"></span>
                        </div>
                        <div class="col-md-6 mb-4">
                            <label asp-for="Input.PartitaIva"></label>
                            <input asp-for="Input.PartitaIva" class="form-control" />
                            <span asp-validation-for="Input.PartitaIva" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="form-row justify-content-center">
                        <div class="col-md-3 mb-3">
                            <label asp-for="Input.TipoAzienda" class="control-label"></label>
                            @Html.DropDownListFor(p => p.Input.TipoAzienda, new List<SelectListItem> {
                               new SelectListItem { Value = "CentroAssistenza" , Text = "Centro assistenza" },
                               new SelectListItem { Value = "PuntoVendita" , Text = "Punto vendita" },
                            }, new { @class = "form-control", @id= "ddlTipoAzienda" })
                            <span asp-validation-for="Input.TipoAzienda" class="text-danger"></span>
                        </div>
                        <div class="col-md-9 mb-3">
                            <label asp-for="Input.Note"></label>
                            <input asp-for="Input.Note" class="form-control" />
                            <span asp-validation-for="Input.Note" class="text-danger"></span>
                        </div>
                    </div>
                    <hr />
                    <div class="alert alert-light" role="alert" style="text-align:center">
                        Dati sede legale
                    </div>
                    <div class="form-row justify-content-center">
                        <div class="col-md-4 mb-3">
                            <label asp-for="Input.IndirizzoSedeLegale" class="control-label"></label>
                            <input asp-for="Input.IndirizzoSedeLegale" class="form-control" />
                            <span asp-validation-for="Input.IndirizzoSedeLegale" class="text-danger"></span>
                        </div>
                        <div class="col-md-3 mb-3">
                            <label asp-for="Input.CittàSedeLegale" class="control-label"></label>
                            <input asp-for="Input.CittàSedeLegale" class="form-control" />
                            <span asp-validation-for="Input.CittàSedeLegale" class="text-danger"></span>
                        </div>

                        <div class="col-md-2 mb-3">
                            <label asp-for="Input.CapSedeLegale"></label>
                            <input asp-for="Input.CapSedeLegale" class="form-control" />
                            <span asp-validation-for="Input.CapSedeLegale" class="text-danger"></span>
                        </div>
                        <div class="col-md-1 mb-3">
                            <label asp-for="Input.ProvinciaSedeLegale"></label>
                            <input asp-for="Input.ProvinciaSedeLegale" class="form-control" />
                            <span asp-validation-for="Input.ProvinciaSedeLegale" class="text-danger"></span>
                        </div>
                        <div class="col-md-2 mb-3">
                            <label asp-for="Input.NazioneSedeLegale"></label>
                            <input asp-for="Input.NazioneSedeLegale" class="form-control" />
                            <span asp-validation-for="Input.NazioneSedeLegale" class="text-danger"></span>
                        </div>
                    </div>
                    <hr />
                    <div class="alert alert-light" role="alert" style="text-align:center">
                        Dati sede operativa (se diversa)
                    </div>
                    <div class="form-row justify-content-center">
                        <div class="col-md-4 mb-3">
                            <label asp-for="Input.IndirizzoSedeOperativa" class="control-label"></label>
                            <input asp-for="Input.IndirizzoSedeOperativa" class="form-control" />
                            <span asp-validation-for="Input.IndirizzoSedeOperativa" class="text-danger"></span>
                        </div>
                        <div class="col-md-3 mb-3">
                            <label asp-for="Input.CittàSedeOperativa" class="control-label"></label>
                            <input asp-for="Input.CittàSedeOperativa" class="form-control" />
                            <span asp-validation-for="Input.CittàSedeOperativa" class="text-danger"></span>
                        </div>
                        <div class="col-md-2 mb-3">
                            <label asp-for="Input.CapSedeOperativa"></label>
                            <input asp-for="Input.CapSedeOperativa" class="form-control" />
                            @*<span asp-validation-for="Input.CapSedeOperativa" class="text-danger"></span>*@
                        </div>
                        <div class="col-md-1 mb-3">
                            <label asp-for="Input.ProvinciaSedeOperativa"></label>
                            <input asp-for="Input.ProvinciaSedeOperativa" class="form-control" />
                            <span asp-validation-for="Input.ProvinciaSedeOperativa" class="text-danger"></span>
                        </div>
                        <div class="col-md-2 mb-3">
                            <label asp-for="Input.NazioneSedeOperativa"></label>
                            <input asp-for="Input.NazioneSedeOperativa" class="form-control" />
                            <span asp-validation-for="Input.NazioneSedeOperativa" class="text-danger"></span>
                        </div>
                    </div>
                    <hr />
                    <div class="alert alert-light" role="alert" style="text-align:center">
                        Dati utente
                    </div>
                    <div class="form-row justify-content-center">
                        <div class="col-md-4 mb-3">
                            <label asp-for="Input.Email" class="control-label"></label>
                            <input asp-for="Input.Email" class="form-control" />
                            <span asp-validation-for="Input.Email" class="text-danger"></span>
                        </div>
                        <div class="col-md-4 mb-3">
                            <label asp-for="Input.Password"></label>
                            <input asp-for="Input.Password" class="form-control" />
                            <span asp-validation-for="Input.Password" class="text-danger"></span>
                        </div>
                        <div class="col-md-4 mb-3">
                            <label asp-for="Input.ConfirmPassword"></label>
                            <input asp-for="Input.ConfirmPassword" class="form-control" />
                            <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
                        </div>
                    </div>
                    <hr />
                    <div class="alert alert-light" role="alert" style="text-align:center">
                        Accettazione privacy
                    </div>
                    <div class="form-row justify-content-center">
                        <div class="col-md-6 mb-3 form-check">
                            <input asp-for="Input.PrivacyAccettata" class="form-check-input" />
                            <label asp-for="Input.PrivacyAccettata" class="form-check-label">
                                Acconsento al trattamento dei miei dati personali in base all'<a asp-controller="Home" asp-action="privacy">
                                    INFORMATIVA PRIVACY.
                                </a>
                                I vostri dati non saranno divulgati, fatta eccezione per i casi previsti dalla legge stessa.

                                Cliccando il tasto REGISTRATI si autorizza la registrazione dei dati
                            </label>
                            <span asp-validation-for="Input.PrivacyAccettata" class="text-danger"></span>
                        </div>
                    </div>
                    <hr />
                    <div class="form-row  justify-content-center">
                        <div class="col-md-6 offset-3">
                            <input type="submit" id="btnRegistra" value="Registrati" style="height:100% !important" class="btn btn-lg btn-primary float-left" />
                            <a asp-action="Register" class="btn btn-lg btn-danger float-left ml-3">Annulla</a>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>