<div class="mt-5 py-4 small text-dark footer-primary" >
    <div class="container ">
        <div class="row">
            <div class="col-4">
                <h6>Trovaci su</h6>

                <a href="#" class="h4 text-dark" title="Facebook">
                    <i class="fab fa-facebook-square"></i>
                </a>

                <a href="#" class="h4 text-dark" title="Instagram">
                    <i class="fab fa-instagram"></i>
                </a>
            </div>


            <div class="col-4 text-center">
                <a class="navbar-brand text-dark" href="#">
                    <img src="~/images/logo.png" style="width:50px;height:50px" />
                    <br />
                    Tech Spare Parts
                </a>
            </div>

            <div class="col-4 text-right">
                <h6>Aiuto e informazioni</h6>

                <a href="#" class="text-dark" title="Facebook">
                    Resi
                </a>
                <br />
                <a href="#" class="text-dark" title="Instagram">
                    Spedizioni
                </a>
                <br />
                <a href="#" class="text-dark" title="Instagram">
                    Pagamenti
                </a>
            </div>
        </div>
    </div>
</div>
<div class="bg-secondary mt-0 py-3 small footer-secondary">
    <div class="container">
        <span class="text-white float-left">@@2019 NBA Tech Spare Parts</span>
        <span class="text-white float-right">Informativa privacy | cookies</span>
    </div>
</div>